

body {
    background-color: black;
}

h1, p, div{
    color: white;
    text-align: center;
}
label {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
}
div {
    justify-content: left;
}
.container {
    display: flex;
    justify-content: left;
    width: 40%;
    height: auto;
    margin-left: 10%;

}
input[type='checkbox']
{
   margin-right:20px;
}